.header{
    margin: 1rem 0;
    margin-bottom: 4rem;
    line-height: 2rem;
}
.header-intro{
    line-height: 3.5rem;
    font-size: 35px;
    padding: 2rem 0;
    font-weight: normal;
}
p, h2, h3, h4, h5, a, li{
    font-family: monospace;
} 
/* div{
    border:1px solid black;
} */
.pr-img{
    height:180px
}
.section{
    margin-bottom: 5rem;
}
li{
    list-style-type: none;
}
.section-title{
    font-weight: bold;
    padding-bottom:0.5rem;
    color: blueviolet;
}
.pr-link{
    font-size:8px;

}
.tag-btn{
    font-size:12px;
    background-color: blueviolet;
    
    border-style: none;
    width: 4rem;
}
.body{
    background: whitesmoke;
}
.pr-block{
    margin-top:1.5rem;
}
.hide{
    display:none;
}
#section-main{  
    padding: 5rem;
    display: flex;
    justify-content: center;
    color:black;
    font-family: monospace;
    margin: 0 auto;
    letter-spacing: .15em;
    height: 100%;
    font-size: 2em;
    transition: 1s ease; 
    background-color: whitesmoke;
    
   
}
#section-intro{
    position: relative; 
    background-color: whitesmoke;
  
}
#container{
    background: whitesmoke;
}
.comp-icon{
    height:50px;
}
.flaticon{
    color:white;
}
#skipType{
    position: absolute;
    padding: 5px 10px;
    background-color: blueviolet;
    border: none;
    display: block;
    margin: 0 auto;


}

/* .link-btn{
    background-color: none;
    border: 1px solid blueviolet;
    z-index: -1;
    
} */
/* .container{
    background: blue;
} */
/* <section>
<div class="row  justify-content-center">
    <div class="col-lg-2">
        <p>aaaa</p>
    </div>
    <div class="col-lg-8">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <p>zzzz</p>
            </div>
        </div>
    </div>
</div>
</section> */